<h1>{{ name }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>
</dl>

<dl>
  <td>Edad:</td>
  <dd>{{ age }}</dd>
</dl>
<dl>
  <td>Método:</td>
  <dd>{{ getHeroDescription() }}</dd>
</dl>
<dl>
  <td>Capitalizado:</td>
  <dd>{{capitalizeName}}</dd>
</dl>

<button class="btn btn-primary mx-2" *ngIf="name !== 'viuda negra'" (click)="changeHero()">
 Cambiar nombre
</button>

<button class="btn btn-primary" *ngIf="age !== 24"(click)="changeAge()">
  Cambiar edad
</button>

<button class="btn btn-primary mx-2" (click)="resetForm()">
  Reseterar Heroe
 </button>
